@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Red+Hat+Display:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  background-color: #f8f9fa;
  font-family: 'Raleway', sans-serif;
}

/* custom.css */
/* .bg-bus-yellow {
  background-color: #FCD34D;
} */

.bg-bus-red {
  background-color: #495057;
  color: #495057;
}

@keyframes bus-move {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(120%);
  }
}

.animate-bus-moving {
  animation: bus-move 3.4s linear;
}

.shadow-bottom {
  box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.3);
}


/* SIZE OF LEAFLET MAP */
.leaflet-container {
  height: 100%;
  width: 100vw;
}


/* custom.css */
@media (min-width: 1024px) {
  @keyframes bus-move {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(200%);
    }
  }
}

